.title {
    text-align: center;
}

.price {
    text-align: center;
}

h3 {
    font-weight: 200;
}

ul li {
    display: inline-block;
    align-items: center
}

.album img{
    width: 10%;
    margin: 1%;
    cursor: pointer;
}
.album, .period {
    text-align: center;
}

.carousel-control-next-icon {
    color: black;
}

.numbersOfDays {
    align-items: center;
    text-align: center;
    font-size: 2.32rem;
    font-weight: 200;
    line-height: 1.17;
}
.city {
    
    font-size: 1.26rem;
    line-height: 1.13;
    font-weight: 200;
}

#datePeriod {
    color: #039be5;
    font-size: 19px;
    line-height: 1.42;
}
#priceDiteils {
    color: #a94442!important;
    font-size: 1.5em;
}
.carousel-control-next-icon {
    color: red !important
}